*{
    margin: 0 auto;
    padding: 0;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

ul li {
    /* display: inline-block; */
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 20px;
}
.menu ul li a:hover{
    color: tomato;
}
.logo a{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.single-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index:2
}
.single-slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .7;
    top: 0;
    left: 0;

}

.slide-content h4 {
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
}
.slide-content p{
    color: #fff;
    font-size: 25px;
}

element.style {
}
header.header-area {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 20px 0;
}

.slider-area.owl-carousel .owl-nav button{
    background: tomato;
    font-weight: bold;
    width: 50px;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.slider-area.owl-carousel .owl-nav button.owl-prev {
   
    right: 0;
}

.slider-area.owl-carousel .owl-nav button.owl-next {
    right: 0;
    left: 0;
}

.slider-area.owl-carousel .owl-dots button {
    width: 30px;
    background-color: tomato;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    outline: none;
}

.slider-area.owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.slider-area.owl-carousel .owl-dots button.active {
    background-color: #fff;
}