*{
    margin: 0;
    padding: 0;
}
.slicknav_menu {
    display:none;
}
header {
    background: #060606;
    padding: 20px 0;
    width: 100%;
    transition: 3s;
    
}
#manu {
    display: block;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color:white
}

@media screen and (max-width: 768px) {
    /* #menu is the original menu */
     #menu {
        display:none;
    }
     .slicknav_menu {
        display:block;
    }
    header{
       display: none;
    }
}